.blank {
  color: #f1f1f1;
}

.rojo_desaturado {
  background-color: #8d0000;
}

.fondo {
  background: #F7F1C6;
}
.sepia_anaranjado {
  background: #cc5229;
}

.myfont {
}
body, a, div {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif !important;
}
footer {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif !important;
}
h1 {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 26px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 28.6px;
}

h3 {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 22px;
}

p {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 34.2857px;
}

pre {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

.v-card__title {
  justify-content: center;
}

.theme--light.v-card {
  background-color: #F7F1C6;
  color: rgba(0, 0, 0, 0.87);
  border: #8d0000;
  border-color: #8d0000;
  border-radius: 10px;
}

.btn_salir {
  font-family: Verdana,serif;
  margin-top: 10px;
  background-color: #cc5229;
  margin-right: 5px;
}
.Chart {
  background: antiquewhite
}


.glossary {
  border-width: 3px !important;
  border-color: #8d0000 !important;
  border-style: solid !important;
}
.line {
  border-width: 1px !important;
  border-color: #8d0000 !important;
  border-style: solid !important;
}
.title {
  font-size: 24px !important;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif !important;
}
.text {
  font-size: 18px !important;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif !important;
  color: #464646 !important;
}
.validate {
  font-size: 12px !important;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif !important;
  color: #8d0000 !important;
}
.v-application .primary--text {
  color: #8d0000 !important;
  caret-color: #8d0000 !important;
}
.v-label.primary--text {
  color: #8d0000 !important;
  caret-color: #8d0000 !important;
}
.logo {
  width: 75px;
  height: 75px;
  float: right;
}
.icon-color {
  color: #cc5229;
}
